body {
    font-family: 'Montserrat-Black', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {    
    font-family: "Montserrat-Bold";
}


p {
    color: #8f8f8f
}

/*Headings*/

.big-heading {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/*Containers*/

.container-fluid {
    padding: 7% 15%;
}

/*Section*/

.colored-section {
    background-color: #4ca0ff;
    color: #fff;    
}

.white-section {
    background-color: #fff;
}

/*Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Sigmar One', cursive;
    font-size: 2.5rem;
    font-size: bold;    
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montessat-Light";
}

/*Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/*Title Section*/

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

/*Title image*/

.title-image {
    width: 90%;
    transform: rotate(7deg);
    position: absolute;    
    border-radius: 5%;
    left: 10%
}

/*Testimonials Section*/


#testimonials {        
    background-color: #80dbc7;
    color: #fff;
}

.testimonial-text {
    font-size: 2.5rem;
    line-height: 1.5;
}

#press {
    background-color: #ef8172;    
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/*CTA Section*/

#cta {
    background-color: #4ca0ff;        
}

#cta-h3 {
    font-family: 'Anton', sans-serif;
    color: #fff;
    font-size: 3.5rem;
    line-height: 1.5;
}

.crossed {
    text-decoration: line-through;
}

/*Footer Section*/ 

#footer {
    background-color: #fff;        
}

#footer-text {
    font-family: 'Montserrat-Black', sans-serif;
    color: #000;
    font-size: 2rem;
    padding: 30px
}

#footer .container-fluid {
    padding: 0%;
}

.social-icon {
    margin: 0px 10px 20px 10px;    
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    
    .title-image {
        position: static;
        transform: rotate(0);
    }
}



